APP_NAME=Calcuapp
APP_ENV=local
APP_KEY=base64:c3VwZXJzZWNyZXRrZXlmb3JjYWxjdWFwc2Fhc3BsYXRmb3JtMTIz
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

# DB_CONNECTION=pgsql
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_DATABASE=calcuapp
# DB_USERNAME=postgres
# DB_PASSWORD=postgres

SESSION_DRIVER=database
SESSION_LIFETIME=120
CACHE_STORE=file
QUEUE_CONNECTION=sync
